<nav>
    <ul>
        <li><a href="/api/cakes">Home</a></li>
        <% if (token) { %>
            <li><a href="/api/add-cake">Add a new cake</a></li>
            <li><a href="/api/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/api/login">Login</a></li>
            <li><a href="/api/register">Register</a></li>
        <% } %>
    </ul>
</nav>
